.mainContainer {
  background: lab(94 1.66 10.16);
  padding-block: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-bottom: 3px solid gray;
  p {
    width: 50%;
    font-size: 20px;
  }
}
